In [3]:
import pandas as pd
import numpy as np
import datetime
sales = pd.read_csv('sales.csv')
prices = pd.read_csv('prices.csv')

In [4]:
sales['ordered_at'] = pd.to_datetime(sales['ordered_at'])
prices['updated_at'] = pd.to_datetime(prices['updated_at'])
sales = sales.sort_values('ordered_at')
prices = prices.sort_values('updated_at')

In [5]:
merge_table = pd.merge_asof(sales, prices, left_on='ordered_at', right_on='updated_at', by='product_id', direction='nearest')
merge_table["revenue"] = np.where(merge_table['ordered_at'] >= merge_table['updated_at'], merge_table['quantity_ordered'] * merge_table['new_price'], merge_table['quantity_ordered'] * merge_table['old_price']) 
revenue_table = merge_table.groupby("product_id")["revenue"].sum()
revenue_table.reset_index()

   product_id  revenue
0          64   956000
1     3954203   877500
2     3998909   280500
3     4085861  8247500